<!DOCTYPE html>
{% include "base.html" %}
		{% block content %}
			<div class="span2">
				<ul class="nav nav-list">
					<li class="nav-header">
						列表
					</li>
					<li>
						<a href="/log/selectlog/">搜索</a>
					</li>
				</ul>
			</div>
			<div class="span10">
				<!--<form method="post">{% csrf_token %}
					<div class="control-group">
						<label class="control-label">ip</label>
						<div class="controls">
						    <input type="text" >
						</div>
						<div class="controls">
						    {{item.errors}} {{error_msg}}
						</div>
				    </div>
					<div class="control-group">
						<div class="controls">
							<button class="btn" type="submit">搜索</button>
						</div>
					</div>
				</form>-->
				<form class="form-search" method="post" action="/log/selectlog/">
					<input class="input-medium search-query" type="text" name="selectip"/>
					<button type="submit" class="btn">查找</button>
				</form>
				<table class="table">
					<thead>
						<tr>
							<th>
								编号
							</th>
							<th>
								用户IP
							</th>
							<th>
								时间
							</th>
							<th>
								内容
							</th>
						</tr>
					</thead>
					<tbody>
					<script language="javascript">
						var a=1;
					</script>
					{% for log in lPage %}
						<tr>
							<td id="num">
								<script>
									document.write(a++);
								</script> 
							</td>
							<td>
								{{log.userip}}
							</td>
							<td>
								{{log.logtime}}
							</td>
							<td>
								{{log.logcontext}}
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% include "common/paginator.html" %}
			</div>
		{% endblock %}