{% include "base.html" %}
	{% block content %}	
		<div class="span2">
					<ul class="nav nav-list">
						<li class="nav-header">
							列表标题
						</li>
						<li class="active">
							<a href="/file/fileupload/">ISO文件上传</a>
						</li>
						<li>
							<a href="/file/keconfig/">6u3_64.cfg文件配置</a>
						</li>
						<li>
							<a href="/configfile/default">default配置</a>
						</li>
						<li>
							<a href="/file/osall/">用户可按装系统管理</a>
						</li>
						<li>
							<a href="/file/osadd/">添加系统</a>
						</li>
					</ul>
				</div>
		<div class="span10">
			{{isofile}} is ok!!
		</div>
	{% endblock %}


