<!DOCTYPE html>
{% include "base.html" %}
	{% block content %}
		<div class="span2">
			<ul class="nav nav-list">
				<li class="nav-header">
					列表
				</li>
				<li>
					<a href="/user/useradd/">添加</a>
				</li>
			</ul>
		</div>
		<div class="span10">
			<form method="post" action="/user/update/">
				<input type="hidden" name="userip"  value="{{userip}}" >
				{% for item in uf %}
			    	<div class="control-group">
					<label class="control-label">{{item.label}}</label>
					<div class="controls">
					    {{item}}
					</div>
					<div class="controls">
					    {{item.errors}} {{error_msg}}
					</div>
			    	</div>
				{% endfor %}
				<div class="control-group">
				<div class="controls">
					<button class="btn" type="submit">更新</button>
				</div>
			</form>
		</div>
	{% endblock %}